body{
    overflow-x: hidden;
    background-color: aliceblue;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    background-image:linear-gradient(50deg,rgb(41, 248, 255),rgb(0, 162, 255)) ;
}
section{
    padding-top: 70px;
}

a:hover{
    background-color: azure;
}

h5,p,h1{
    text-align: center;
}
img{
    border-radius: 10px;
    border: 1px solid #000000;
}
#produtos img,#promocoes img{
    width: 230px;
}
#juan{
    padding-top:0 ;
    margin-bottom:110px ;
}
.footer{
    background-image:linear-gradient(50deg,rgb(41, 248, 255),rgb(0, 162, 255)) ;
    padding: 15px;
    bottom: 0;
}
